<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Ships Location!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<div id="app" class="container-fluid">

		<div class="row align-items-start d-flex">
			<!--LEFT-->
			<div class="nacho mx-auto col text-center d-flex flex-column align-items-center">
				<div class="nacho mb-3">
					<h4>My Fleet</h4>
					<table id="shipLocations" class="nacho semiopacity">
					</table>
				</div>
				<div class="nacho mb-3" v-if="!placingShips">
					<h4>My Fleet Status</h4>
					<div id="myShipsStatus" class="nacho pt-3 d-flex flex-row justify-content-center flex-wrap">
						<div class="status m-1 d-flex flex-column align-items-center">
							<div class="battleshipDraggable" data-length="4">

							</div>
							<h6>BATTLESHIP</h6>
						</div>
						<div class="status m-1 d-flex flex-column align-items-center">
							<div class="destroyerDraggable" data-length="3">

							</div>
							<h6>DESTROYER</h6>
						</div>
						<div class="status m-1 d-flex flex-column align-items-center">
							<div class="submarineDraggable" data-length="3">

							</div>
							<h6>SUBMARINE</h6>
						</div>
						<div class="status m-1 d-flex flex-column align-items-center">
							<div class="carrierDraggable" data-length="5">

							</div>
							<h6>CARRIER</h6>
						</div>
						<div class="status m-1 d-flex flex-column align-items-center">
							<div class="patrol_boatHits patrol_boatDraggable" data-length="2">

							</div>
							<h6>PATROL BOAT</h6>
						</div>
					</div>
				</div>
			</div>

			<!--CENTER-->
			<div class="nacho col-sm-3 notifications align-self-start d-flex flex-column align-items-center" v-if="game_view.hasOwnProperty('gamePlayers')">
				<span>
					<h5>GAME: (g={{game_view.id}})
					</h5>
					<h5>&#129144 YOU: {{game_view.gamePlayers[0].player.email.split("@")[0]}} (gp={{game_view.gamePlayers[0].id}}))
					</h5>
					<h5 v-if="game_view.gamePlayers.length == 2">OPPONENT: {{game_view.gamePlayers[1].player.email.split("@")[0]}} (gp={{game_view.gamePlayers[1].id}}) &#129146
					</h5>
					<h5 v-else="game_view.gamePlayers == 1">OPPONENT: Waiting opponent...</h5>
				</span>
				<button class="btn btn-success" type="button" name="goToHome" v-on:click="goToHome()">
					Exit Game
				</button>
				<button class="btn btn-primary" type="button" name="start_firing" v-if="placingShips" v-on:click="postShips()">Start Firing</button>
				<button class="btn btn-primary" type="button" name="rotate_ships" v-if="placingShips" v-on:click="rotateShips()">Rotate Ships</button>
				<button class="btn btn-primary" type="button" name="reposition" v-if="placingShips" v-on:click="reposition()">Reposition</button>
				<button class="btn btn-danger" v-if="!placingShips && currentState != 8 && currentState != 4 && currentState != 5 && currentState != 6" v-on:click="postSalvo()">Fire!</button>
				<!--loader x 3-->
				<div class="loader" v-if="game_view.CurrentGameState.stateCode == 8">
					<div class="spinner-grow spinner-grow-sm text-danger" role="status">
						<span class="sr-only">Loading...</span>
					</div>
					<div class="spinner-grow spinner-grow-sm text-danger" role="status">
						<span class="sr-only">Loading...</span>
					</div>
					<div class="spinner-grow spinner-grow-sm text-danger" role="status">
						<span class="sr-only">Loading...</span>
					</div>
				</div>
				<span>
					<h5>State of the Game</h5>
					<div class="d-flex justify-content-between">
						<h5>&#129144 Turn:{{yourCurrentTurn}}</h5>
						<h5>Turn:{{opponentCurrentTurn}} &#129146</h5>
					</div>
					<p>{{game_view.CurrentGameState.stateAction}}</p>
				</span>

			</div>

			<!--PLACING SHIPS-->
			<div v-if="placingShips" class="nacho mx-auto col text-center d-flex flex-column align-items-center">
				<h4>Place your Fleet</h4>
				<div id="shipsToBePlaced" class="nacho">
					<div id="carrier" data-length=5 class="carrierDraggable m-3" draggable="true" v-on:dragstart="dragStart_handler(this.event)">Carrier</div>
					<div id="battleship" data-length=4 class="battleshipDraggable m-3" draggable="true" v-on:dragstart="dragStart_handler(this.event)">Battleship</div>
					<div id="submarine" data-length=3 class="submarineDraggable m-3" draggable="true" v-on:dragstart="dragStart_handler(this.event)">Submarine</div>
					<div id="destroyer" data-length=3 class="destroyerDraggable m-3" draggable="true" v-on:dragstart="dragStart_handler(this.event)">Destroyer</div>
					<div id="patrol_boat" data-length=2 class="patrol_boatDraggable m-3" draggable="true" v-on:dragstart="dragStart_handler(this.event)">Patrol B.</div>
				</div>
			</div>

			<!--RIGHT-->
			<div v-if="!placingShips" class="nacho mx-auto col text-center d-flex flex-column align-items-center">
				<div class="nacho mb-3">
					<h4>Opponent's Fleet</h4>
					<table id="salvoesLocations" class="nacho semiopacity">
					</table>
				</div>
				<div class="nacho mb-3">
					<h4>Opponent's Fleet Status</h4>
					<div id="opponentShipsStatus" class="nacho pt-3 d-flex flex-row justify-content-center flex-wrap">
						<div class="status m-1 d-flex flex-column align-items-center">
							<div class="battleshipDraggable" data-length="4">

							</div>
							<h6>BATTLESHIP</h6>
						</div>
						<div class="status m-1 d-flex flex-column align-items-center">
							<div class="destroyerDraggable" data-length="3">

							</div>
							<h6>DESTROYER</h6>
						</div>
						<div class="status m-1 d-flex flex-column align-items-center">
							<div class="submarineDraggable" data-length="3">

							</div>
							<h6>SUBMARINE</h6>
						</div>
						<div class="status m-1 d-flex flex-column align-items-center">
							<div class="carrierDraggable" data-length="5">

							</div>
							<h6>CARRIER</h6>
						</div>
						<div class="status m-1 d-flex flex-column align-items-center">
							<div class="patrol_boatHits patrol_boatDraggable" data-length="2">

							</div>
							<h6>PATROL BOAT</h6>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>


	<!--	===== JQuery CDN ===== -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<!--	===== VUE CDN ===== -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

	<!-- ===== BOOTSTRAP CDN SCRIPTS ===== -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<!-- ===== MY SCRIPTS ===== -->
	<script src="game.js"></script>
	<script src="draganddrop.js"></script>

</body>

</html>
