/* ##### BOOTSTRAPS BREAKPOINTS ##### 
			sm 576px
			md 768px
			lg 992px
			xl 1200px
*/

/* ##### My VARIABLES and BREAKPOINTS ##### */
:root{	
	--carrier-color: rgb(156, 39, 176);
	--battleship-color: rgb(0, 150, 136);
	--submarine-color: rgb(63, 81, 181);
	--destroyer-color: rgb(255, 87, 34);
	--patrol_boat-color: rgb(255, 152, 0);
	--placed-ship-color: #b2bec3;
	--cell-width: 20px;
  --cell-height: 20px;
	--rotation: 10deg;
}

@media screen and (min-width: 1100px) {
  :root{
  --cell-width: 30px;
  --cell-height: 30px;
	}
}
@media screen and (min-width: 1250px) {
  :root{
  --cell-width: 35px;
  --cell-height: 35px;
	}
}
@media screen and (min-width: 1390px) {
  :root{
  --cell-width: 40px;
  --cell-height: 40px;
	}
}

/* ########## IMPORTING FONTS ########## */

@font-face{
	font-family: gunplay;
	src: url(gunplay.ttf);
}

/* ########## RESPONSIVE TEXT ########## */

h4{
	font-size: 1.607vw;
}

h5{
	font-size: 1.339vw;
}

h6, p, td, div{
	font-size: 1.071vw;
}

h6{
	background-color: rgba(220,216,172,0.5);
	border-radius: 10px;
	padding: 2px;
}

.btn{
	font-size: 0.9vw;
}

/* #################### */

h6, h5, h4, h3, h2, p, label, input, button, th, td{
	font-family: gunplay;
}

.nnnnacho{
	border: 2px dashed black;
}

body{
	margin: calc(var(--cell-width)*0.5);
	background-image: url(warships.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.semiopacity{
	background-color: rgba(74,105,189,0.5);
}

h4{
	width: calc(var(--cell-width)*11);
	background-color: #17a2b8;
	color: white;
	padding: 0px 0px 4px 0px;
}

#myShipsStatus, #opponentShipsStatus{
		width: calc(var(--cell-width)*11);
}

td{
	width: var(--cell-width);
	height: var(--cell-height);
	border: 1px solid #bdc3c7;
}

.notifications{
/*	background-color: #dfe6e9;*/
	border-radius: 20px;
/*	border: 5px dashed grey;*/
/*	margin-top: calc(var(--cell-width)*2);*/
}

.notifications span{
	text-align: center;
	margin-top: calc(var(--cell-height)*0.5);
/*	border: 1px solid black;*/
	background-color: rgba(220,216,172,0.5);
	border-radius: 10px;
	padding: 10px;
}

img{
	height: calc(var(--cell-height)*1);
}

button{
	margin-top: calc(var(--cell-height)*0.2);
	width: calc(var(--cell-width)*3);
  height: var(--cell-height);
}

.loader{
	margin-top: calc(var(--cell-height)*0.2);
	height: var(--cell-height);
}


/* ########## SHIPS ########## */

.carrier{
	background-color: var(--carrier-color);
}
.battleship{
	background-color: var(--battleship-color);
}
.submarine{
	background-color: var(--submarine-color);
}
.destroyer{
	background-color: var(--destroyer-color);
}
.patrol_boat{
	background-color: var(--patrol_boat-color);
}

.carrierDraggable{
	width: calc(var(--cell-width)*5);
	height: var(--cell-height);
	background-color: var(--carrier-color);
	border-radius: 5px;
}

.battleshipDraggable{
	width: calc(var(--cell-width)*4);
	height: var(--cell-height);
	background-color: var(--battleship-color);
	border-radius: 5px;

}

.submarineDraggable{
	width: calc(var(--cell-width)*3);
	height: var(--cell-height);
	background-color: var(--submarine-color);
		border-radius: 5px;
}

.destroyerDraggable{
	width: calc(var(--cell-width)*3);
	height: var(--cell-height);
	background-color: var(--destroyer-color);
	border-radius: 5px;

}

.patrol_boatDraggable{
	width: calc(var(--cell-width)*2);
	height: var(--cell-height);
	background-color: var(--patrol_boat-color);
	border-radius: 5px;

}

.carrierDraggableVertical{
	width: var(--cell-width);
	height: calc(var(--cell-height)*5);
	background-color: var(--carrier-color);
	writing-mode: vertical-rl;
	border-radius: 5px;

}

.battleshipDraggableVertical{
	width: var(--cell-width);
	height: calc(var(--cell-height)*4);
	background-color: var(--battleship-color);
	writing-mode: vertical-rl;
	border-radius: 5px;
}

.submarineDraggableVertical{
	width: var(--cell-width);
	height: calc(var(--cell-height)*3);
	background-color: var(--submarine-color);
	writing-mode: vertical-rl;
	border-radius: 5px;
}

.destroyerDraggableVertical{
	width: var(--cell-width);
	height: calc(var(--cell-height)*3);
	background-color: var(--destroyer-color);
	writing-mode: vertical-rl;
	border-radius: 5px;
}

.patrol_boatDraggableVertical{
	width: var(--cell-width);
	height: calc(var(--cell-height)*2);
	background-color: var(--patrol_boat-color);
	writing-mode: vertical-rl;
	border-radius: 5px;
}

/* ########## SALVOES / HITS / MISSED ########## */

.hit{
	width: var(--cell-width);
	height: var(--cell-height);	
	background-image: url(hit.gif);
	background-repeat: no-repeat;
	background-size: calc(var(--cell-width)/1.1) calc(var(--cell-height)/1.1);
	background-position: center;
	font-weight: bold;	
	color: black;
	vertical-align: text-bottom;
}

.salvoes{
	background-image: url(salvo.gif);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: var(--cell-width);
	height: var(--cell-height);	
	/*background-size: calc(var(--cell-width)/1) calc(var(--cell-height)/1);*/
}

.missed{
	background-image: url(missed.gif);
	background-repeat: no-repeat;
	background-size: contain;
	font-weight: bold;
}

.hidden{
	visibility: hidden;
}

/* ########## SHIP STATUS ########## */

.sinking{
	transform: rotate(var(--rotation));
	z-index: -1;
	background-color: #d63031;
}

.strikethrough{
	text-decoration: line-through;
	z-index: 1;
	transform: rotate(var(--rotation));

}

.status>div{
	/*display: inline-block;*/
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: center;
}

.reddish{
	background-color: red;
}

.greenish{
	background-color: green;
}

.yellow{
	background-color: yellow;
}

/*
.status>div>div{
	width: var(--cell-width);
	height: var(--cell-height);
	background-image: url(hit.gif);
	background-repeat: no-repeat;
	background-size: calc(var(--cell-width)/1.1) calc(var(--cell-height)/1.1);
	background-position: center;
	font-weight: bold;
	color: black;
	border-radius: calc(var(--cell-width)/2);
	vertical-align: text-bottom;
}
*/


