<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Salvo Game</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>

<body>
	<div id="app" class="container">
		<h1>Salvo!</h1>
		<h3>This is the list of games</h3>
		<table class="table table-bordered col-6 text-center">
			<thead>
				<tr>
					<th>Game No</th>
					<th colspan="2">Players</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="game in games">
					<td>{{game.id}}</td>
					<td v-for="gameplayer in game.gameplayers">{{gameplayer.player.email}}</td>
				</tr>
			</tbody>

		</table>


	</div>


	<!--	===== JQuery CDN ===== -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<!--	===== VUE CDN ===== -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!-- ===== BOOTSTRAP CDN SCRIPTS ===== -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<!-- ===== MY SCRIPTS ===== -->
	<script src="games.js"></script>
</body>

</html>
