<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Salvo Game</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>

<body>
	<div id="app" class="container">
		<div class="text-center">
			<h1>Salvo Stats!</h1>
			<span>j.bauer@ctu.gov --- 24  ////</span>
			<span>c.obrian@ctu.gov --- 42  ////</span>
			<span>kim_bauer@gmail.com --- kb  ////</span>
			<span>t.almeida@ctu.gov --- mole</span>
		</div>
		<hr>

		<div class="text-center" v-if="!auth  &&  logInVisible">
			<form>
				<label>Email:
					<input type="email" name="email" placeholder="newPlayer@hotmail.com" v-model="existingUserInput.userName"></label>
				<label>Password:
					<input type="password" name="password" placeholder="password" v-model="existingUserInput.password"></label>
				<div>
					<button type="button" name="login" v-on:click="logInUser(existingUserInput)">
						Log In
					</button>
					<div>
						<span>Don't have an account?</span>
						<button type="button" name="toggleToSignUp" v-on:click="toggle()">
							Sign Up
						</button>
					</div>
				</div>
			</form>
		</div>
		<div class="text-center" v-else-if="!auth && !logInVisible">
			<form>
				<label>First Name:
					<input type="text" name="firstName" placeholder="first name" v-model="newUserInput.firstName"></label>
				<label>Last Name:
					<input type="text" name="lastName" placeholder="last name" v-model="newUserInput.lastName"></label>
				<label>Email:
					<input type="email" name="email" placeholder="newPlayer@hotmail.com" v-model="newUserInput.userName"></label>
				<label>Password:
					<input type="password" name="password" placeholder="password" v-model="newUserInput.password"></label>
				<div>
					<button type="button" name="signup" v-on:click="signUpUser">
						Sign Up
					</button>
					<div>
						<span>or use your existing account</span>
						<button type="button" name="toggleToLogIn" v-on:click="toggle()">
							Log In
						</button>
					</div>
				</div>
			</form>
		</div>
		<div class="text-center" v-if="auth">
			<p>Logged In: {{ gamesJson.logged_player.name }}</p>
			<button type="button" name="logout" v-on:click="logOutUser">
				Log Out
			</button>

			<button type="button" name="createGame" v-on:click="createGame()">
				Create Game
			</button>

		</div>
		<hr>
		<div class="row">
			<div class="col-sm-5 text-center">
				<h3>List of games</h3>
				<table class="table table-bordered text-center">
					<thead>
						<tr>
							<th>Game No</th>
							<th colspan="2">Players</th>
							<th>Winner (if any)</th>
							<th v-if="auth">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="game in gamesJson.games">
							<td>{{"g= " + game.id}}</td>
							<td v-for="gameplayer in game.gameplayers">{{gameplayer.player.email.split("@")[0] + " gp= " + gameplayer.id}}</td>
							<td v-if="game.gameplayers.length == 1">Waiting...</td>
							<td><span>{{gameOutcome(game)}}</span></td>

							<td v-if="auth">

								<a v-if="visibleJoinGameButton(game)" v-bind:href=joinGame() class="btn btn-outline-primary">Join Game</a>

								<a v-else-if="visibleContinueGameButton(game)" v-bind:href=continueGame(game) class="btn btn-outline-primary">Continue Game</a>

								<a v-else v-bind:href=gameOver() class="btn btn-outline-primary">Game Over</a>

							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<!--
			<div class="col-sm-1">
			</div>
			-->

			
<!--
			<div class="col-sm-5 text-center">
				<h3>Leaderboard</h3>
				<table class="table table-bordered text-center">
					<thead>
						<tr>
							<th>Name</th>
							<th>Played</th>
							<th>Points</th>
							<th>Won</th>
							<th>Tied</th>
							<th>Lost</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="item in sortedLeaderboard">
							<td>{{item.name.split("@")[0]}}</td>
							<td>{{item.total_played}}</td>
							<td>{{item.total_points}}</td>
							<td>{{item.won.length}}</td>
							<td>{{item.tied.length}}</td>
							<td>{{item.lost.length}}</td>
						</tr>
					</tbody>
				</table>
			</div>
-->


		</div>
	</div>


	<!--	===== JQuery CDN ===== -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<!--	===== VUE CDN ===== -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!-- ===== BOOTSTRAP CDN SCRIPTS ===== -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<!-- ===== MY SCRIPTS ===== -->
	<script src="games.js"></script>
</body>

</html>
