<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Salvo Game</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>

<body>
	<div id="app" class="container">
		<div class="text-center">
			<h1>Salvo Stats!</h1>			
			<hr>
		</div>
		<form>
			<div class="row">
				<!--				<div class="col-sm-4">-->
				<label>Email:
					<input type="email" name="email" placeholder="newplayer@hotmail.com"></label>
				<!--				</div>-->
				<!--				<div class="col-sm-3">-->
				<label>Password:
					<input type="text" name="password" placeholder="password"></label>
			</div>
			<div class="row">
				<!--				</div>-->
				<!--				<div>-->
				<button type="submit" name="signup" v-on:click="signUp()">
					Sign Up
				</button>
				<button type="submit" name="login" v-on:click="logIn()">
					Log In
				</button>
			</div>
		</form>
		<hr>
		<div class="row">
			<div class="col-sm-5 text-center">
				<h3>List of games</h3>
				<table class="table table-bordered text-center">
					<thead>
						<tr>
							<th>Game No</th>
							<th colspan="2">Players</th>
							<th>Winner (if any)</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="game in games">
							<td>{{game.id}}</td>
							<td v-for="gameplayer in autoComplete(game.gameplayers)">{{gameplayer.player.email}}</td>
							<td>{{gameOutcome(game)}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-sm-1">
			</div>
			<div class="col-sm-5 text-center">
				<h3>Leaderboard</h3>
				<table class="table table-bordered text-center">
					<thead>
						<tr>
							<th>Name</th>
							<th>Total</th>
							<th>Won</th>
							<th>Lost</th>
							<th>Tied</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="leader in leaderboard">
							<td>{{leader.name}}</td>
							<td>{{leader.won.length + leader.lost.length + leader.tied.length}}</td>
							<td>{{leader.won.length}}</td>
							<td>{{leader.lost.length}}</td>
							<td>{{leader.tied.length}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>


	<!--	===== JQuery CDN ===== -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<!--	===== VUE CDN ===== -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!-- ===== BOOTSTRAP CDN SCRIPTS ===== -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<!-- ===== MY SCRIPTS ===== -->
	<script src="games.js"></script>
</body>

</html>
