/* ##### My VARIABLES ##### */
:root{
  --cell-width: 30px;
  --cell-height: 30px;
	--carrier-color: #6a89cc;
	--battleship-color: #a29bfe;
	--submarine-color: #82ccdd;
	--destroyer-color: #3c6382;
	--patrol_boat-color: #079992;
	--placed-ship-coler: #b2bec3;

	
}
/* #################### */

h4{
	background-color: black;
	color: white;
}

td{
	width: var(--cell-width);
	height: var(--cell-height);
	border: 1px solid red;
}

/* ########## SHIP STATUS ########## */

.strikethrough{
	text-decoration: line-through;
}

.sinking{
/*background-color: red !important;*/
	transform: rotate(20deg);
	z-index: -1;
	/*transform: translate(10px, 10px);*/
}

.status>div{
	/*display: inline-block;*/
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: center;
}

/*
.status>div>div{
	width: var(--cell-width);
	height: var(--cell-height);
	background-image: url(hit.gif);
	background-repeat: no-repeat;
	background-size: calc(var(--cell-width)/1.1) calc(var(--cell-height)/1.1);
	background-position: center;
	font-weight: bold;
	color: black;
	border-radius: calc(var(--cell-width)/2);
	vertical-align: text-bottom;
}
*/

/* ########## SHIPS ########## */

.carrier{
	background-color: var(--carrier-color);
}
.battleship{
	background-color: var(--battleship-color);
}
.submarine{
	background-color: var(--submarine-color);
}
.destroyer{
	background-color: var(--destroyer-color);
}
.patrol_boat{
	background-color: var(--patrol_boat-color);
}

.carrierDraggable{
	width: calc(var(--cell-width)*5);
	height: var(--cell-height);
	background-color: var(--carrier-color);
}

.battleshipDraggable{
	width: calc(var(--cell-width)*4);
	height: var(--cell-height);
	background-color: var(--battleship-color);
}

.submarineDraggable{
	width: calc(var(--cell-width)*3);
	height: var(--cell-height);
	background-color: var(--submarine-color);
}

.destroyerDraggable{
	width: calc(var(--cell-width)*3);
	height: var(--cell-height);
	background-color: var(--destroyer-color);
}

.patrol_boatDraggable{
	width: calc(var(--cell-width)*2);
	height: var(--cell-height);
	background-color: var(--patrol_boat-color);
}

.carrierDraggableVertical{
	width: var(--cell-width);
	height: calc(var(--cell-height)*5);
	background-color: var(--carrier-color);
	writing-mode: vertical-rl;
}

.battleshipDraggableVertical{
	width: var(--cell-width);
	height: calc(var(--cell-height)*4);
	background-color: var(--battleship-color);
	writing-mode: vertical-rl;
}

.submarineDraggableVertical{
	width: var(--cell-width);
	height: calc(var(--cell-height)*3);
	background-color: var(--submarine-color);
	writing-mode: vertical-rl;
}

.destroyerDraggableVertical{
	width: var(--cell-width);
	height: calc(var(--cell-height)*3);
	background-color: var(--destroyer-color);
	writing-mode: vertical-rl;
}

.patrol_boatDraggableVertical{
	width: var(--cell-width);
	height: calc(var(--cell-height)*2);
	background-color: var(--patrol_boat-color);
	writing-mode: vertical-rl;
}

/* ########## SALVOES / HITS / MISSED ########## */

.hit{
	width: var(--cell-width);
	height: var(--cell-height);	
	background-image: url(hit.gif);
	background-repeat: no-repeat;
	background-size: calc(var(--cell-width)/1.1) calc(var(--cell-height)/1.1);
	background-position: center;
	font-weight: bold;	
	color: black;
	vertical-align: text-bottom;
}

.salvoes{
	background-image: url(salvo.gif);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	/*background-size: calc(var(--cell-width)/1) calc(var(--cell-height)/1);*/
}

.missed{
	background-image: url(missed.gif);
	background-repeat: no-repeat;
	background-size: contain;
	font-weight: bold;
}

.hidden{
	visibility: hidden;
}





