/* ##### My VARIABLES ##### */
:root{
  --cell-width: 30px;
  --cell-height: 30px;
	--carrier-color: #6a89cc;
	--battleship-color: #a29bfe;
	--submarine-color: #82ccdd;
	--destroyer-color: #3c6382;
	--patrol_boat-color: #079992;
	--placed-ship-coler: #b2bec3;

	
}
/* #################### */

h4{
	background-color: black;
	color: white;
}

/*
.playingBoard{
	border: 1px solid blue;
}
*/

td{
	width: var(--cell-width);
	height: var(--cell-height);	
	border: 1px solid red;
}

/* ########## SHIPS ########## */

.carrier{
	background-color: var(--carrier-color);
}
.battleship{
	background-color: var(--battleship-color);
}
.submarine{
	background-color: var(--submarine-color);
}
.destroyer{
	background-color: var(--destroyer-color);
}
.patrol_boat{
	background-color: var(--patrol_boat-color);
}

.carrierDraggable{
	width: calc(var(--cell-width)*5);
	height: var(--cell-height);
	background-color: var(--carrier-color);
}

.battleshipDraggable{
	width: calc(var(--cell-width)*4);
	height: var(--cell-height);
	background-color: var(--battleship-color);
}

.submarineDraggable{
	width: calc(var(--cell-width)*3);
	height: var(--cell-height);
	background-color: var(--submarine-color);
}

.destroyerDraggable{
	width: calc(var(--cell-width)*3);
	height: var(--cell-height);
	background-color: var(--destroyer-color);
}

.patrol_boatDraggable{
	width: calc(var(--cell-width)*2);
	height: var(--cell-height);
	background-color: var(--patrol_boat-color);
}

.carrierDraggableVertical{
	width: var(--cell-width);
	height: calc(var(--cell-height)*5);
	background-color: var(--carrier-color);	
}

.battleshipDraggableVertical{
	width: var(--cell-width);
	height: calc(var(--cell-height)*4);
	background-color: var(--battleship-color);
}

.submarineDraggableVertical{
	width: var(--cell-width);
	height: calc(var(--cell-height)*3);
	background-color: var(--submarine-color);
}

.destroyerDraggableVertical{
	width: var(--cell-width);
	height: calc(var(--cell-height)*3);
	background-color: var(--destroyer-color);
}

.patrol_boatDraggableVertical{
	width: var(--cell-width);
	height: calc(var(--cell-height)*2);
	background-color: var(--patrol_boat-color);
}

/* ########## SALVOES ########## */

.hit{
	background-image: url(hit.gif);
	background-size: contain;
	background-repeat: no-repeat;
}

.salvoes{
	background-image: url(bomb.png);
	background-size: contain;
	background-repeat: no-repeat;
}





